Reading Dataset

In [7]:
import pandas as pd

# Reading the CSV file
file_path = '../hotpotQA_complete_dataset/output.csv'  # Replace with the path to your CSV file
data = pd.read_csv(file_path)

# Display the first few rows
print(data.head())

                                    supporting_facts   level  \
0  [["Arthur's Magazine", 0], ['First for Women',...  medium
1    [['Oberoi family', 0], ['The Oberoi Group', 0]]  medium
2  [['Allie Goertz', 0], ['Allie Goertz', 1], ['A...    hard
3  [['Peggy Seeger', 0], ['Peggy Seeger', 1], ['E...  medium
4          [['Cadmium chloride', 1], ['Ethanol', 0]]  medium

                                            question  \
0  Which magazine was started first Arthur's Maga...
1  The Oberoi family is part of a hotel company t...
2  Musician and satirist Allie Goertz wrote a son...
3    What nationality was James Henry Miller's wife?
4  Cadmium Chloride is slightly soluble in this c...

                                             context                   answer  \
0  [['Radio City (Indian radio station)', ["Radio...        Arthur's Magazine
1  [['Ritz-Carlton Jakarta', ['The Ritz-Carlton J...                    Delhi
2  [['Lisa Simpson', ['Lisa Marie Simpson is a fi...  President Richard Nixon
3  [['Moloch: or, This Gentile World', ['Moloch: ...                 American
4  [['Cadmium chloride', ['Cadmium chloride is a ...                  alcohol

                        _id        type
0  5a7a06935542990198eaf050  comparison
1  5a879ab05542996e4f30887e      bridge
2  5a8d7341554299441c6b9fe5      bridge
3  5a82171f5542990a1d231f4a      bridge
4  5a84dd955542997b5ce3ff79      bridge

In [8]:
# Get data types of each column
print("\nData Types:")
print(data.dtypes)

Data Types:
supporting_facts    object
level               object
question            object
context             object
answer              object
_id                 object
type                object
dtype: object

In [9]:
# Check the type of the first few entries
print(data['context'].apply(type).head())

# Print one sample entry to understand the structure
print(data['context'].iloc[0])

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
Name: context, dtype: object
[['Radio City (Indian radio station)', ["Radio City is India's first private FM radio station and was started on 3 July 2001.", ' It broadcasts on 91.1 (earlier 91.0 in most cities) megahertz from Mumbai (where it was started in 2004), Bengaluru (started first in 2001), Lucknow and New Delhi (since 2003).', ' It plays Hindi, English and regional songs.', ' It was launched in Hyderabad in March 2006, in Chennai on 7 July 2006 and in Visakhapatnam October 2007.', ' Radio City recently forayed into New Media in May 2008 with the launch of a music portal - PlanetRadiocity.com that offers music related news, videos, songs, and other music-related features.', ' The Radio station currently plays a mix of Hindi and Regional music.', ' Abraham Thomas is the CEO of the company.']], ['History of Albanian football', ['Football in Albania existed before the Albanian Football Federation (FSHF) was created.', " This was evidenced by the team's registration at the Balkan Cup tournament during 1929-1931, which started in 1929 (although Albania eventually had pressure from the teams because of competition, competition started first and was strong enough in the duels) .", ' Albanian National Team was founded on June 6, 1930, but Albania had to wait 16 years to play its first international match and then defeated Yugoslavia in 1946.', ' In 1932, Albania joined FIFA (during the 12–16 June convention ) And in 1954 she was one of the founding members of UEFA.']], ['Echosmith', ['Echosmith is an American, Corporate indie pop band formed in February 2009 in Chino, California.', ' Originally formed as a quartet of siblings, the band currently consists of Sydney, Noah and Graham Sierota, following the departure of eldest sibling Jamie in late 2016.', ' Echosmith started first as "Ready Set Go!"', ' until they signed to Warner Bros.', ' Records in May 2012.', ' They are best known for their hit song "Cool Kids", which reached number 13 on the "Billboard" Hot 100 and was certified double platinum by the RIAA with over 1,200,000 sales in the United States and also double platinum by ARIA in Australia.', ' The song was Warner Bros.', " Records' fifth-biggest-selling-digital song of 2014, with 1.3 million downloads sold.", ' The band\'s debut album, "Talking Dreams", was released on October 8, 2013.']], ["Women's colleges in the Southern United States", ["Women's colleges in the Southern United States refers to undergraduate, bachelor's degree–granting institutions, often liberal arts colleges, whose student populations consist exclusively or almost exclusively of women, located in the Southern United States.", " Many started first as girls' seminaries or academies.", ' Salem College is the oldest female educational institution in the South and Wesleyan College is the first that was established specifically as a college for women.', ' Some schools, such as Mary Baldwin University and Salem College, offer coeducational courses at the graduate level.']], ['First Arthur County Courthouse and Jail', ['The First Arthur County Courthouse and Jail, was perhaps the smallest court house in the United States, and serves now as a museum.']], ["Arthur's Magazine", ["Arthur's Magazine (1844–1846) was an American literary periodical published in Philadelphia in the 19th century.", ' Edited by T.S. Arthur, it featured work by Edgar A. Poe, J.H. Ingraham, Sarah Josepha Hale, Thomas G. Spear, and others.', ' In May 1846 it was merged into "Godey\'s Lady\'s Book".']], ['2014–15 Ukrainian Hockey Championship', ['The 2014–15 Ukrainian Hockey Championship was the 23rd season of the Ukrainian Hockey Championship.', ' Only four teams participated in the league this season, because of the instability in Ukraine and that most of the clubs had economical issues.', ' Generals Kiev was the only team that participated in the league the previous season, and the season started first after the year-end of 2014.', ' The regular season included just 12 rounds, where all the teams went to the semifinals.', ' In the final, ATEK Kiev defeated the regular season winner HK Kremenchuk.']], ['First for Women', ["First for Women is a woman's magazine published by Bauer Media Group in the USA.", ' The magazine was started in 1989.', ' It is based in Englewood Cliffs, New Jersey.', ' In 2011 the circulation of the magazine was 1,310,696 copies.']], ['Freeway Complex Fire', ['The Freeway Complex Fire was a 2008 wildfire in the Santa Ana Canyon area of Orange County, California.', ' The fire started as two separate fires on November 15, 2008.', ' The "Freeway Fire" started first shortly after 9am with the "Landfill Fire" igniting approximately 2 hours later.', ' These two separate fires merged a day later and ultimately destroyed 314 residences in Anaheim Hills and Yorba Linda.']], ['William Rast', ['William Rast is an American clothing line founded by Justin Timberlake and Trace Ayala.', ' It is most known for their premium jeans.', ' On October 17, 2006, Justin Timberlake and Trace Ayala put on their first fashion show to launch their new William Rast clothing line.', ' The label also produces other clothing items such as jackets and tops.', ' The company started first as a denim line, later evolving into a men’s and women’s clothing line.']]]

In [10]:
print("Sample Data in 'context':")
print(data['context'].head(2))

Sample Data in 'context':
0    [['Radio City (Indian radio station)', ["Radio...
1    [['Ritz-Carlton Jakarta', ['The Ritz-Carlton J...
Name: context, dtype: object

In [11]:
import ast
data['context'] = data['context'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [15]:
print(len(data['context'][0]))

10

Separate out All paragraphs

In [18]:
unique_paragraphs = set()  # Use a set to avoid duplicates

for row in data['context']:
    if isinstance(row, list):  # Ensure it's a valid list
        for paragraph in row:  # Iterate through each paragraph in the list

            if isinstance(paragraph, list) and len(paragraph) == 2:  # Ensure valid structure
                title, content = paragraph
                unique_paragraphs.add((title, tuple(content)))  # Add (title, content) as a unique entry

In [19]:
unique_paragraphs_df = pd.DataFrame(list(unique_paragraphs), columns=['Title', 'Content'])

# Step 4: Count the number of unique paragraphs
print(f"Number of unique paragraphs: {len(unique_paragraphs_df)}")

Number of unique paragraphs: 483696

In [20]:
print(unique_paragraphs_df.head(10))

                             Title  \
0                      Pepe Oriola
1                    Maina Gielgud
2           Mega Man IV (Game Boy)
3                     Peter Vidmar
4                 Michael Ondaatje
5          Pujols (disambiguation)
6  1999 Gerry Weber Open – Doubles
7               R. Gilbert Clayton
8     Hyers–Ulam–Rassias stability
9    Counter-terrorism in Malaysia

                                             Content
0  (Josep "Pepe" Oriola Vila (born 9 July 1994) i...
1  (Maina Gielgud {'1': ", '2': ", '3': ", '4': "...
2  (Mega Man IV, known as Rockman World 4 (ロックマンワ...
3  (Peter Glen Vidmar (born June 3, 1961) is an A...
4  (Philip Michael Ondaatje, {'1': ", '2': ", '3'...
5  (Albert Pujols (born 1980) is a Dominican-Amer...
6  (Ellis Ferreira and Rick Leach were the defend...
7  (R. Gilbert Clayton (October 15, 1922 – Januar...
8  (The stability problem of functional equations...
9  (Counter-terrorism in Malaysia is a series of ...

In [21]:
unique_paragraphs_df['Content'][2]

('Mega Man IV, known as Rockman World 4 (ロックマンワールド4 , Rokkuman Wārudo Fō ) in Japan, is a video game by Capcom for the Nintendo Game Boy.',
 ' It is the fourth installment in the handheld version of the "Mega Man" series.',
 ' The game continues the quest of the protagonist Mega Man in a never-ending struggle with his long-time nemesis Dr. Wily, who sends out a disruptive radio signal to cause a rampage, citywide destruction from dormant robots.',
 ' "Mega Man IV" features the traditional action platforming gameplay of the prior games while introducing one new feature, the ability to purchase items with power-ups found throughout each stage.',
 ' As with previous Game Boy releases, the game incorporates gameplay elements and bosses from two sequential Nintendo Entertainment System (NES) games: "Mega Man 4" and "Mega Man 5".',
 ' The game has received a warm critical reception.',
 ' In 2013, "Mega Man IV" was made available on the Virtual Console of Japan\'s Nintendo eShop for the Nintendo 3DS.',
 ' It was later released in the North American and PAL region eShops the following year.')

In [22]:
print("\nData Types:")
print(unique_paragraphs_df.dtypes)

Data Types:
Title      object
Content    object
dtype: object

In [23]:
# Step 3: Convert the set back to a DataFrame for easier analysis
unique_paragraphs_df = pd.DataFrame(list(unique_paragraphs), columns=['Title', 'Content'])

# Step 4: Convert the 'Content' from tuple to a single string
unique_paragraphs_df['Content'] = unique_paragraphs_df['Content'].apply(lambda x: ' '.join(x))

# Step 5: Count the number of unique paragraphs
print(f"Number of unique paragraphs: {len(unique_paragraphs_df)}")

# Step 6: Display the DataFrame
print(unique_paragraphs_df.head())

Number of unique paragraphs: 483696
                    Title                                            Content
0             Pepe Oriola  Josep "Pepe" Oriola Vila (born 9 July 1994) is...
1           Maina Gielgud  Maina Gielgud {'1': ", '2': ", '3': ", '4': "}...
2  Mega Man IV (Game Boy)  Mega Man IV, known as Rockman World 4 (ロックマンワー...
3            Peter Vidmar  Peter Glen Vidmar (born June 3, 1961) is an Am...
4        Michael Ondaatje  Philip Michael Ondaatje, {'1': ", '2': ", '3':...

In [24]:
len(unique_paragraphs_df)

483696

In [25]:
unique_paragraphs_df["Content"][0]

'Josep "Pepe" Oriola Vila (born 9 July 1994) is a Spanish racing driver.  He became the youngest driver to race in the World Touring Car Championship when he competed in the 2011 season.  As of 2014, he will act as a driver coach for Campos Racing\'s drivers competing in the European Touring Car Cup and the World Touring Car Championship.  He will also compete in the last three rounds of the 2014 World Touring Car Championship season, that will be held in China, Japan and Macau.'

In [45]:
unique_paragraphs_df.to_csv("E:\Study\RAG new Working\dataset\hotpot-qa\paragraphs.csv")

In [28]:
import pandas as pd
import ast

def sample_questions_by_level(data, sample_sizes, random_state=42):
    """
    Sample questions from the dataset based on difficulty levels.

    Args:
        data (pd.DataFrame): Dataset with a 'level' column.
        sample_sizes (dict): Number of samples per difficulty level.
        random_state (int): Seed for reproducibility.

    Returns:
        pd.DataFrame: Sampled subset.
    """
    sampled_data = pd.DataFrame()
    for level, size in sample_sizes.items():
        level_data = data[data['level'] == level]
        sampled = level_data.sample(n=size, random_state=random_state)
        sampled_data = pd.concat([sampled_data, sampled], ignore_index=True)
    return sampled_data

def parse_context_column(df, context_col='context'):
    """
    Parse the 'context' column from string to list if needed.

    Args:
        df (pd.DataFrame): DataFrame with context column.
        context_col (str): Name of the context column.

    Returns:
        pd.DataFrame: DataFrame with parsed context.
    """
    df[context_col] = df[context_col].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    return df

def extract_unique_paragraphs(df, context_col='context'):
    """
    Extract unique paragraphs from the 'context' column.

    Args:
        df (pd.DataFrame): DataFrame with parsed 'context' column.
        context_col (str): Name of the context column.

    Returns:
        pd.DataFrame: DataFrame of unique paragraphs (Title and Content).
    """
    paragraphs = []
    for context in df[context_col]:
        if isinstance(context, list):
            for paragraph in context:
                if isinstance(paragraph, list) and len(paragraph) == 2:
                    title, content = paragraph
                    paragraphs.append([title, ' '.join(content)])
    unique_paragraphs_df = pd.DataFrame(paragraphs, columns=['Title', 'Content'])
    unique_paragraphs_df = unique_paragraphs_df.drop_duplicates().reset_index(drop=True)
    return unique_paragraphs_df

def retrieve_sentences_from_context(supporting_facts, context):
    """
    Retrieve actual supporting sentences from 'supporting_facts' and 'context'.

    Args:
        supporting_facts (list or str): List of [title, sentence_index] pairs or string repr.
        context (list): Parsed context list of paragraphs.

    Returns:
        str: Concatenated supporting sentences.
    """
    if isinstance(supporting_facts, str):
        supporting_facts = ast.literal_eval(supporting_facts)
    
    retrieved_sentences = []
    for fact in supporting_facts:
        title, sentence_num = fact
        for paragraph in context:
            if isinstance(paragraph, list) and len(paragraph) == 2:
                paragraph_title, sentences = paragraph
                if paragraph_title == title and 0 <= sentence_num < len(sentences):
                    retrieved_sentences.append(sentences[sentence_num])
    return ' '.join(retrieved_sentences)

# === USAGE ===

# Your original dataset 'data' must be loaded here.

# Define sample sizes per difficulty
sample_sizes = {
    'easy': 200,
    'medium': 500,
    'hard': 500
}

# Step 1: Sample questions
sampled_data = sample_questions_by_level(data, sample_sizes)

# Step 2: Parse 'context' column
sampled_data = parse_context_column(sampled_data, context_col='context')

# Step 3: Extract unique paragraphs
unique_paragraphs_df = extract_unique_paragraphs(sampled_data, context_col='context')

# Step 4: Retrieve actual supporting sentences and add as new column
sampled_data['actual_retrieved_sentences'] = sampled_data.apply(
    lambda row: retrieve_sentences_from_context(row['supporting_facts'], row['context']),
    axis=1
)

# Display results
print(f"Total sampled questions: {len(sampled_data)}")
print(f"Unique paragraphs extracted: {len(unique_paragraphs_df)}")
print(sampled_data[['supporting_facts', 'actual_retrieved_sentences']].head())
print(unique_paragraphs_df.head())

Total sampled questions: 1200
Unique paragraphs extracted: 11643
                                    supporting_facts  \
0   [['2017–18 Serie B', 1], ['2016–17 Serie B', 0]]
1  [['Alec Naylor Dakin', 0], ['Bletchley Park', 0]]
2  [['Face Value (play)', 3], ['B. D. Wong', 2], ...
3  [['2003 Oklahoma Sooners football team', 2], [...
4  [['Loan-a Lisa', 0], ['Loan-a Lisa', 2], ['Gra...

                          actual_retrieved_sentences
0   A total of 22 teams are contesting the league...
1  Alec Naylor Dakin (3 April 1912 – 14 June 2003...
2   It was directed by Jerry Zaks, with B. D. Won...
3   They played their home games at Gaylord Famil...
4  "Loan-a Lisa" is the second episode of "The Si...
             Title                                            Content
0  2015–16 Serie B  The 2015–16 Serie B (known as the Serie B ConT...
1  2016–17 Serie A  The 2016–17 Serie A (known as the Serie A TIM ...
2  2011–12 Serie B  The 2011–12 Serie B (known as the Serie bwin f...
3  2016–17 Serie B  The 2016–17 Serie B (known as the Serie B ConT...
4  2017–18 Serie B  The 2017–18 Serie B (known as the Serie B ConT...

In [29]:
sampled_data

,supporting_facts,level,question,context,answer,_id,type,actual_retrieved_sentences
0,"[['2017–18 Serie B', 1], ['2016–17 Serie B', 0]]",easy,The 2017–18 Serie B (known as the Serie B ConT...,"[[2015–16 Serie B, [The 2015–16 Serie B (known...",1929,5ac190e55542994ab5c67d7f,bridge,A total of 22 teams are contesting the league...
1,"[['Alec Naylor Dakin', 0], ['Bletchley Park', 0]]",easy,"What specialism did Alec Naylor Dakin, fellow ...","[[Heath Robinson (codebreaking machine), [Heat...",cryptologist,5ac402585542997ea680c9b2,bridge,Alec Naylor Dakin (3 April 1912 – 14 June 2003...
2,"[['Face Value (play)', 3], ['B. D. Wong', 2], ...",easy,Which actor from Jurassic Park assisted David ...,"[[The Dance and the Railroad, [The Dance and t...",BD Wong,5ab478435542990594ba9c28,bridge,"It was directed by Jerry Zaks, with B. D. Won..."
3,"[['2003 Oklahoma Sooners football team', 2], [...",easy,What is the population of the city that has th...,"[[Oklahoma Sooners football, [The Oklahoma Soo...","110,925",5ae476e555429970de88d974,bridge,They played their home games at Gaylord Famil...
4,"[['Loan-a Lisa', 0], ['Loan-a Lisa', 2], ['Gra...",easy,"What character, voiced by Dan Castellaneta, st...","[[The Ned-Liest Catch, [""The Ned-Liest Catch"" ...",Grampa Simpson,5a8eb60a5542995a26add4f2,bridge,"""Loan-a Lisa"" is the second episode of ""The Si..."
...,...,...,...,...,...,...,...,...
1195,"[['Andy Paley', 0], ['Andy Paley', 2], ['Camp ...",hard,Who was in a pop duo with the man who writes s...,"[[Andy Paley, [Andrew Douglas Paley (born 1952...",Jonathan Paley,5a7e42ee5542994959419955,bridge,Andrew Douglas Paley (born 1952) is an America...
1196,"[['Jon Kortajarena', 1], ['Tom Ford', 0], ['To...",hard,Jon Kortajarena has modeled for the fashion de...,"[[Louis Vuitton, [Louis Vuitton Malletier, com...",2006,5ae356215542992f92d8228f,bridge,He has landed advertising campaigns for Just ...
1197,"[['The Trees They Grow So High (album)', 0], [...",hard,In what year was the singer born that debuted ...,"[[Lloyd Parks (R&amp;B singer), [Lloyd Parks i...",1960,5a7e6dd65542991319bc94ab,bridge,The Trees They Grow So High (also Early One Mo...
1198,"[['Lester J. Reed', 1], ['Tulane University', 0]]",hard,What city is the university located where Lest...,"[[Bow Down to Washington, [Bow Down to Washing...","New Orleans, Louisiana",5ade88ca55429939a52fe8e7,bridge,He received his Bachelors of Science from Tul...
1199,"[['Bjørn Tore Kvarme', 0], ['Trondheim', 0]]",hard,What county is the birthplace of Bjørn Tore Kv...,"[[Lårdal, [Lårdal is a former municipality in ...",Sør-Trøndelag,5adc8e5d5542994d58a2f65a,bridge,Bjørn Tore Kvarme (born 17 June 1972 in Trondh...

In [30]:
unique_paragraphs_df

,Title,Content
0,2015–16 Serie B,The 2015–16 Serie B (known as the Serie B ConT...
1,2016–17 Serie A,The 2016–17 Serie A (known as the Serie A TIM ...
2,2011–12 Serie B,The 2011–12 Serie B (known as the Serie bwin f...
3,2016–17 Serie B,The 2016–17 Serie B (known as the Serie B ConT...
4,2017–18 Serie B,The 2017–18 Serie B (known as the Serie B ConT...
...,...,...
11638,Bjørn Tore Godal,Bjørn Tore Godal (born 20 January 1945) is a N...
11639,Bjørn Tore Kvarme,Bjørn Tore Kvarme (born 17 June 1972 in Trondh...
11640,Bjørn Tore Bryn,Bjørn Tore Bryn (1936 – 2014) was a Norwegian ...
11641,Benjamin West Birthplace,The Benjamin West Birthplace is a historic hom...
11642,Trondheim,"Trondheim (] ), historically Kaupangen, Nidaro..."

In [32]:
sampled_data.to_csv("../hotpotQA_dataset_versions/11643paras_1200queries/English/1200_QnAs.csv")

In [33]:
unique_paragraphs_df.to_csv("../hotpotQA_dataset_versions/11643paras_1200queries/English/11643_paras.csv")